Repository Arquisoft/wichat_es3b, pull requests merged in 2025-04, with the labels that each got.

#158 Implementada interfaz de configuración de temáticas y parámetros de una partida, y arreglado bug en el guardado de estadísticas
  users/statsservice/stats-service.js
  webapp/package-lock.json
  webapp/package.json
  webapp/src/App.js
  webapp/src/assets/img/categories/allCategory.jpg
  webapp/src/assets/img/categories/artCategory.jpg
  webapp/src/assets/img/categories/cinemaCategory.jpg
  webapp/src/assets/img/categories/countriesCategory.jpg
  webapp/src/assets/img/categories/footballCategory.jpg
  webapp/src/assets/img/categories/literatureCategory.jpg
  webapp/src/assets/img/coliseo.jpg
  webapp/src/components/Footer.js
  webapp/src/components/button/BaseButton.css
  webapp/src/components/categoryCard/CategoryCard.css
  webapp/src/components/categoryCard/CategoryCard.js
  webapp/src/components/gameSettingsSidebar/GameSettingsSidebar.css
  webapp/src/components/gameSettingsSidebar/GameSettingsSidebar.js
  webapp/src/components/login/Login.js
  webapp/src/components/nav/Nav.css
  webapp/src/components/nav/Nav.js
  webapp/src/components/sidebar/Sidebar.js
  webapp/src/components/stats-graphs/stats-graphs.js
  webapp/src/i18n.js
  webapp/src/pages/game/Game.js
  webapp/src/pages/home/Home.js
  webapp/src/pages/settings/Settings.css
  webapp/src/pages/settings/Settings.js
Labels: :framed_picture: frontEnd

#159 Terminadas las temáticas
  webapp/src/components/gameSettingsSidebar/GameSettingsSidebar.js
  webapp/src/pages/game/Game.js
  webapp/src/pages/settings/Settings.js
  wikiquestionservice/prueba.js
  wikiquestionservice/questiongenerator/Utilidades
  wikiquestionservice/questiongenerator/categoryLoader.js
  wikiquestionservice/questiongenerator/question.js
  wikiquestionservice/questiongenerator/questionGen.js
  wikiquestionservice/questiongenerator/questionManager.js
  wikiquestionservice/wikiQuestion-service.js
Labels: :framed_picture: frontEnd, :globe_with_meridians: wikidata, 🎮game

#161 Cambiado url a gateway-service.js
  gatewayservice/gateway-service.js
  webapp/src/pages/game/Game.js
Labels: :globe_with_meridians: wikidata, 🎮game, API

#164 Implementada vista del ranking
  users/statsservice/stats-service.js
  webapp/src/App.js
  webapp/src/components/languageChangeMenu/LanguageChangeMenu.js
  webapp/src/components/nav/Nav.js
  webapp/src/components/rankingWidget/RankingWidget.css
  webapp/src/components/rankingWidget/RankingWidget.js
  webapp/src/i18n.js
  webapp/src/index.js
  webapp/src/pages/ranking/Ranking.css
  webapp/src/pages/ranking/Ranking.js
Labels: enhancement, :framed_picture: frontEnd

#167 Integradas las temáticas y configuración del juego para que se produzcan antes de cada partida
  webapp/src/App.js
  webapp/src/components/chatBox/ChatBox.js
  webapp/src/components/game/Game.css
  webapp/src/components/game/Game.js
  webapp/src/components/gameSettings/GameSettings.css
  webapp/src/components/gameSettings/GameSettings.js
  webapp/src/components/nav/Nav.js
  webapp/src/i18n.js
  webapp/src/pages/playView/PlayView.css
  webapp/src/pages/playView/PlayView.js
Labels: :framed_picture: frontEnd, 🎮game

#170 Preguntas de base de datos arreglado
  docker-compose.yml
  users/statsservice/game-model.js
  users/statsservice/stats-service.js
  webapp/src/components/game/Game.js
  wikiquestionservice/package.json
  wikiquestionservice/question-model.js
  wikiquestionservice/questiongenerator/question-model.js
  wikiquestionservice/questiongenerator/questionManager.js
  wikiquestionservice/wikiQuestion-service.js
Labels: :hammer_and_wrench: backEnd, :file_cabinet: dataBase

#179 Wikidata test
  .github/workflows/build.yml
  gatewayservice/gateway-service.js
  webapp/src/components/game/Game.js
  wikiquestionservice/package-lock.json
  wikiquestionservice/package.json
  wikiquestionservice/prueba.js
  wikiquestionservice/questiongenerator/categoryLoader.js
  wikiquestionservice/questiongenerator/question.js
  wikiquestionservice/questiongenerator/questionGen.js
  wikiquestionservice/questiongenerator/questionManager.js
  wikiquestionservice/wikiQuestion-service.js
  wikiquestionservice/wikiQuestion-service.test.js
Labels: :globe_with_meridians: wikidata, ✅test

#265 Mejoras en el Frontend y tests de cobertura de muchos componentes
  gatewayservice/gateway-service.js
  gatewayservice/gateway-service.test.js
  package-lock.json
  users/userservice/user-service.js
  users/userservice/user-service.test.js
  webapp/src/App.js
  webapp/src/components/addUser/AddUser.js
  webapp/src/components/addUser/AddUser.test.js
  webapp/src/components/chatBox/ChatBox.js
  webapp/src/components/chatBox/ChatBox.test.js
  webapp/src/components/game-history/game-history.css
  webapp/src/components/game-history/game-history.js
  webapp/src/components/game/Game.css
  webapp/src/components/game/Game.js
  webapp/src/components/game/Game.test.js
  webapp/src/components/game/GameComponent.test.js
  webapp/src/components/infoDialog/InfoDialog.js
  webapp/src/components/login/Login.js
  webapp/src/components/login/Login.test.js
  webapp/src/components/playerVsAIGame/PlayerVSAIGame.test.js
  webapp/src/components/playerVsAIGame/PlayerVsAIGame.css
  webapp/src/components/playerVsAIGame/PlayerVsAIGame.js
  webapp/src/components/profile-card/profile-card.js
  webapp/src/components/profile-card/profile-card.test.js
  webapp/src/components/rankingWidget/RankingWidget.css
  webapp/src/components/rankingWidget/RankingWidget.js
  webapp/src/components/rankingWidget/RankingWidget.test.js
  webapp/src/components/sidebar/Sidebar.js
  webapp/src/components/sidebar/Sidebar.test.js
  webapp/src/components/stats-graphs/stats-graphs.js
  webapp/src/components/textField/WiChatTextField.js
  webapp/src/hooks/useSubmitOnEnter.js
  webapp/src/i18n.js
  webapp/src/pages/apiKeyGenerator/ApiKeyGenerator.js
  webapp/src/pages/apiKeyGenerator/ApiKeyGenerator.test.js
  webapp/src/pages/home/Home.css
  webapp/src/pages/home/Home.js
  webapp/src/pages/home/Home.test.js
  webapp/src/pages/profilePage/PerfilPage.js
Labels: :framed_picture: frontEnd, 🎮game, :1234: stats, API, ✅test

#268 Security & reliability fixes
  webapp/src/components/categoryCard/CategoryCard.js
  webapp/src/components/chatBox/ChatBox.test.js
  webapp/src/components/game/Game.css
  webapp/src/components/login/Login.js
  webapp/src/components/rankingWidget/RankingWidget.js
  wikiquestionservice/wikiQuestion-service.test.js
Labels: ✅test

#269 Reducción de Code Duplication
  gatewayservice/gateway-service.test.js
  webapp/src/components/addUser/AddUser.test.js
  webapp/src/components/playerVsAIGame/PlayerVSAIGame.test.js
Labels: ✅test

#271 Test de wikidata
  wikiquestionservice/questiongenerator/questionManager.js
  wikiquestionservice/wikiQuestion-service.test.js
Labels: :globe_with_meridians: wikidata, ✅test

#272 [NO MERGEAR] Pruebas para reducir más la duplicación de código.
  gatewayservice/gateway-service.test.js
Labels: enhancement, ✅test

#273 Mejoras en el frontend y actualizados tests de cobertura.
  webapp/src/components/game/Game.js
  webapp/src/components/game/Game.test.js
  webapp/src/components/profile-card/profile-card.css
  webapp/src/components/profile-card/profile-card.js
  webapp/src/components/profile-card/profile-card.test.js
  webapp/src/components/rankingWidget/RankingWidget.css
  webapp/src/components/rankingWidget/RankingWidget.js
  webapp/src/components/sidebar/Sidebar.css
  webapp/src/components/sidebar/Sidebar.js
  webapp/src/components/sidebar/Sidebar.test.js
  webapp/src/components/userAvatar/UserAvatar.css
  webapp/src/components/userAvatar/UserAvatar.js
  webapp/src/components/userAvatar/UserAvatar.test.js
  webapp/src/i18n.js
  webapp/src/pages/profilePage/PerfilPage.css
  webapp/src/pages/profilePage/PerfilPage.js
Labels: :framed_picture: frontEnd, ✅test

#274 Evitar eliminar preguntas de base de datos.
  wikiquestionservice/wikiQuestion-service.js
Labels: :globe_with_meridians: wikidata
